footer {
  padding: 2%;
  text-align: center;
  background: #81ccfb;


}

.aboutColumn{
  margin: 50px;
}
.contactcolumn{
  padding: 30px;
  margin: 10px, 30px, 10px, 30px;
}
.maincolumn{
  background-color:#deeaee;
  /* border: 50px; */
  padding: 30px;
  /* margin: 3px; */
}

.portfolioicon {
  width: 350px;
  height: 350px;

}

.link{
  margin: 10px;
}